*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    background: #fefae0;
    color: #283618;

}
header{
    background-color: #606c38;
}

.header{
    width: 100%;
    height: 40vh;
    padding: 10px 10%;
    font-size: xx-large;
    flex-wrap: wrap;
    display: flex;
}

.T{
    color:#bc6c25;
 }

h1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 150%;
 }


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    flex-wrap: wrap;
 }


nav ul li a{
    color: #bc6c25;
    text-decoration: none;
    font-size: large;
    position: relative;
 }

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #283618;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }

nav ul li a:hover::after{
    width: 100%;
 }

main{
    padding: 5px;
    border: #4d6b4d;
    margin: 15%;
}
img{
    width: 33%;
    float: right;
}

#bio{
    padding: 10px;
    margin: 10px;
    border: 5px;
    border-color: #283618;
    font-size: 140%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bio-text{
    
}

.projects1{
    text-align: center;
    border: 5px;
    border-color: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.socials1{
    display: flex;
    padding: 50px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.Myprojects{
    width: 100%;
}

@media screen and (max-width: 992px) {
    
    body {
      background:  #fefae0;
    }
  }
  

  @media screen and (max-width: 768px) {
   
    body {
      background: #4d6b4d;
    }
  }